.showcase{
    width: 80%;
    height: 60%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.6);
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:15px;
    padding-top: 40px;
}


h2{
    color: white;
    text-transform: capitalize;
    font-family: arial;
    font-weight: bold;
    text-align: center;
}

.showcase input[type="text"] , input[type="number"]{
    width: 250px;
    height: 35px;
    font-size: 15px;
    font-family: arial;
    border:2px;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
}

.button_1{
    width: 70px;
    height: 30px;
    background-color:rgba(176,224,230);
    border:2px;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    margin-left: 110px;
    margin-bottom: 10px;
}
.showcase form{
    margin-left: 60px;
}

#heading{
    margin-top: 80px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    color: white;
}